<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- This is a web service front-end that acts as a blob store, and a substitute for direct Azure storage access. -->
    <add name="RelayBlobService" connectionString="http://localhost:39472/api/blob/" />
    <!-- The inbox service is always required. -->
    <add name="RelayInboxService" connectionString="http://localhost:39472/Inbox/" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>