<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="PCLCrypto" version="0.5.1.14165" targetFramework="net45" />
  <package id="Validation" version="2.0.4.14103" targetFramework="net45" />
</packages>