<!DOCTYPE html>
@{
    ViewBag.Title = "CryptoChat Privacy Policy";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <article>
        <p>
            The CryptoChat online service collects the email addresses and full name
            associated with your Microsoft account and stores it for purposes of querying
            the address book so your friends can find you by your email address.
            This information, along with the public cryptographic keys required to send you
            encrypted messages, are returned to anyone who already has your email address.
            Your privacy is very important to us and we release the minimum information
            required to make the application work for you and your friends.
        </p>
    </article>
</body>
</html>
