<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="TrustedClientId" value="00000000440D2897" />
  </appSettings>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
</configuration>